html {
    font-size: 62.5%;
}


body {
    background-color: purple;
}

.container {
    margin-top: 5rem;
    background-color: #fff;
    border-radius: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    font-weight: bolder;
}

.container h2 {
    margin: 0;
}

.container p {
    font-style: italic;
    color: #000000;
    margin: .5rem 0;
}

.container ol {
    margin: 2rem 0;
}

.container ol li {
    margin: .5rem 0;
    padding: .3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.container ol li:nth-child(even) {
    background: #ddd;
}

.container .completed {
    text-decoration: line-through;
    color: red;
}

.container .button {
    margin: 1rem .2rem;
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    background-color: purple;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.container .button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.container input {
    padding: .3rem .6rem;
}

.container form {
    display: inline-block;
}

#control-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 50%;
    }

    .container input {
        width: 60rem;
    }
    
}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .container {
        width: 75%;
    }

    .container input {
        width: 40rem;
    }
}